body {
   text-align: center;
}
.first_part {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
}
h1 {
font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color: white;
}
a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.special {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
p {
  font-family: Helvetica;
  font-size: 14px;
}
.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
